# DataFrame

In [16]:
import pandas as pd
import numpy as np

DataFrame a partir de un diccionario

In [17]:
data = { 'Nombre': ['Juan', 'Ana', 'Pedro', 'María'],
         'Edad': [25, 30, 35, 40],
         'carrera': ['Ing. Sistemas', 'Ing. Civil', 'Ing. Industrial', 'Ing. Ambiental'] }

In [18]:
df = pd.DataFrame(data)
df

  Nombre  Edad          carrera
0   Juan    25    Ing. Sistemas
1    Ana    30       Ing. Civil
2  Pedro    35  Ing. Industrial
3  María    40   Ing. Ambiental

DataFrame a partir de una lista

In [19]:
df = pd.DataFrame([['Juna', 25, 'Ing. Sistemas'],
                   ['Ana', 30, 'Ing. Civil'],
                   ['Pedro', 35, 'Ing. Industrial'],
                   ['María', 40, 'Ing. Ambiental']],
                  columns=['Nombre', 'Edad', 'carrera'])
df

  Nombre  Edad          carrera
0   Juna    25    Ing. Sistemas
1    Ana    30       Ing. Civil
2  Pedro    35  Ing. Industrial
3  María    40   Ing. Ambiental

DataFrame a partir de un array usando numpy

In [20]:
df = pd.DataFrame(np.random.randn(4,3), columns=['A', 'B', 'C'])
df

          A         B         C
0  1.274951 -1.036626 -0.450276
1  0.975281  0.083703 -1.518446
2 -1.074594  0.221418 -0.572265
3  2.343462  0.939884  0.805075