# Operations

In [125]:
import pandas as pd

In [126]:
df = pd.read_csv("data/data.csv")
df

     country  population  year
0  Argentina         900  2008
1     Brasil         500  2009
2   Colombia         350  2008
3    Ecuador         500  2009
4     Mexico         500  2008
5    Uruguay         200  2009

iloc

In [127]:
df.iloc[2,1]

350

In [128]:
df.iloc[2,:4]

country       Colombia
population         350
year              2008
Name: 2, dtype: object

loc

In [129]:
df.loc[5, 'population']

200

In [130]:
df.loc[4, ['country', 'year']]

country    Mexico
year         2008
Name: 4, dtype: object

In [131]:
df.loc[4:4, ('country', 'population')]

  country  population
4  Mexico         500

---

### Agregar y eliminar columnas

In [132]:
df['new_column'] = pd.Series(["a", "b", "c", "d", "e"])
df

     country  population  year new_column
0  Argentina         900  2008          a
1     Brasil         500  2009          b
2   Colombia         350  2008          c
3    Ecuador         500  2009          d
4     Mexico         500  2008          e
5    Uruguay         200  2009        NaN

In [133]:
df.pop('new_column')
df

     country  population  year
0  Argentina         900  2008
1     Brasil         500  2009
2   Colombia         350  2008
3    Ecuador         500  2009
4     Mexico         500  2008
5    Uruguay         200  2009

### Agregar y eliminar filas

In [134]:
df =df._append(pd.Series(["Chile", 222, 2020],
                            index=df.columns),
                            ignore_index=True) # df.append() is deprecated
df

     country  population  year
0  Argentina         900  2008
1     Brasil         500  2009
2   Colombia         350  2008
3    Ecuador         500  2009
4     Mexico         500  2008
5    Uruguay         200  2009
6      Chile         222  2020

In [135]:
df = pd.concat([df, pd.Series(['Chile', 222, 2020],
                              index=['country', 'population', 'year']).to_frame().T],
                              ignore_index=True)
df

     country population  year
0  Argentina        900  2008
1     Brasil        500  2009
2   Colombia        350  2008
3    Ecuador        500  2009
4     Mexico        500  2008
5    Uruguay        200  2009
6      Chile        222  2020
7      Chile        222  2020

In [137]:
df = df.drop(7)
df

     country population  year
0  Argentina        900  2008
1     Brasil        500  2009
2   Colombia        350  2008
3    Ecuador        500  2009
4     Mexico        500  2008
5    Uruguay        200  2009
6      Chile        222  2020

---
Filtrar

In [142]:
df[([df['population'] > 400]) and (df['year'] >= 2009)]

   country population  year
1   Brasil        500  2009
3  Ecuador        500  2009
5  Uruguay        200  2009
6    Chile        222  2020

Ordenar

In [144]:
df.sort_values(by=['population'], ascending=True)

     country population  year
5    Uruguay        200  2009
6      Chile        222  2020
2   Colombia        350  2008
1     Brasil        500  2009
3    Ecuador        500  2009
4     Mexico        500  2008
0  Argentina        900  2008

Filtrar datos NaN

In [145]:
df['new_column'] = pd.Series(["a", "b", "c", "d"])
df

     country population  year new_column
0  Argentina        900  2008          a
1     Brasil        500  2009          b
2   Colombia        350  2008          c
3    Ecuador        500  2009          d
4     Mexico        500  2008        NaN
5    Uruguay        200  2009        NaN
6      Chile        222  2020        NaN

In [146]:
df.dropna()

     country population  year new_column
0  Argentina        900  2008          a
1     Brasil        500  2009          b
2   Colombia        350  2008          c
3    Ecuador        500  2009          d