# dataframe

Un dataframe es una estructura de datos similar a una tabla en R.

Es una lista de vectores de igual longitud

In [1]:
df <- data.frame(
  name = c("John", "Jane", "Jim", "Jill"),
  age = c(23, 25, 22, 24),
  height = c(180, 170, 175, 160),
  weight = c(75, 65, 70, 55)
)
df

  name age height weight
1 John 23  180    75
2 Jane 25  170    65
3 Jim  22  175    70
4 Jill 24  160    55

## Cambiar nombre de columnas

In [2]:
colnames(df) <- c("NAME",
                  "AGE",
                  "HEIGHT",
                  "WEIGHT")
df

  NAME AGE HEIGHT WEIGHT
1 John 23  180    75
2 Jane 25  170    65
3 Jim  22  175    70
4 Jill 24  160    55

## Acceder a los elementos

In [12]:
# Elemento en la fila 1, columna 2
df[1, 2]

[1] 23

In [13]:
# Acceder al elemento en la fila 1 de la columna "AGE"
df[1, "AGE"]

[1] 23

In [14]:
# Acceder a las filas 1 y 2, y a las columnas "AGE" y "HEIGHT"
df[1:2, c("AGE", "HEIGHT")]

  AGE HEIGHT
1 23  180
2 25  170

In [15]:
# Acceder a las filas 1 y 3, y a las columnas "AGE" y "HEIGHT"
df[c(1, 3), c("AGE", "HEIGHT")]

  AGE HEIGHT
1 23  180
3 22  175

In [16]:
# Acceder a toda la columna "AGE"
df$AGE

[1] 23 25 22 24

# Ordenar el dataframe por una columna

Pasos:

- 1. Guardar los Indices ordenados ```[ indices <- order(dataframe$colummn) ]```
- 2. Seleccionar el dataframe con los indices ordenados ```[ dataframe[indices,] ]```

In [19]:
# ordenar de forma descendente (Mayor a menor)
desc <- order(df$AGE, decreasing = TRUE)
df[desc, ]

  NAME AGE HEIGHT WEIGHT
2 Jane 25  170    65
4 Jill 24  160    55
1 John 23  180    75
3 Jim  22  175    70

In [20]:
# ordenar de forma ascendente (Menor a mayor)
asc <- order(df$AGE, decreasing = FALSE)
df[asc, ]

  NAME AGE HEIGHT WEIGHT
3 Jim  22  175    70
1 John 23  180    75
4 Jill 24  160    55
2 Jane 25  170    65