# Leer Excel en R

In [ ]:
install.packages("readxl") # instalar el paquete readxl

In [3]:
library(readxl) # cargar el paquete readxl

## Leer archivo Excel

In [4]:
path <- "data/data.xlsx" # ruta del archivo
data <- read_excel(path) # leer el archivo
data

  country   population year
1 Argentina 900        2008
2 Brasil    500        2009
3 Colombia  350        2008
4 Ecuador   500        2009
5 Mexico    500        2008
6 Uruguay   200        2009

In [5]:
# mostrar las hojas del archivo
excel_sheets(path)

[1] "Sheet1" "Sheet2"

In [6]:
# Importar una hoja específica
data <- read_excel(path, sheet = "Sheet2") # leer la hoja 1
data

  Variable            Clase    Descripción
1 pais                caracter País afectado
2 casos               entero   Número de casos a la fecha
3 muertes             entero   Número de muertes a la fecha
4 fecha_actualizacion fecha    Fecha de la actualización de los datos

In [7]:
# Importar una hoja específica y celdas específicas
data <- read_excel(path, sheet = "Sheet2", range = "A1:B3") # leer la hoja 1
data

  Variable Clase
1 pais     caracter
2 casos    entero

In [9]:
# convertir a dataframe
data <- read_excel(path)
data_df <- as.data.frame(data)
data_df

  country   population year
1 Argentina 900        2008
2 Brasil    500        2009
3 Colombia  350        2008
4 Ecuador   500        2009
5 Mexico    500        2008
6 Uruguay   200        2009